.carrousel {
    transform : scale(0);
    transition : transform .25s;
    position: absolute;
    width: 50%;
    height: 50%;
    border: 2px solid rgb(9, 69, 166);
    background-color: rgba(0,0,0,.1);
    top:25%;
    left:25%;
    z-index: 1;
}

.carrousel__x{
   position : absolute;
   right : 0;
   top :0;
   padding: 5px 3px;
   border : 1px solid #555;
}

.carrousel__figure{



}

.carrousel__img{

}

.carrousel--ouvrir {
    transform : scale(1);
}




.bouton__ouvrir {
    width : 200px;
}